@use 'base/mixins' as m;
@use 'base/variables' as v;

.cards {
    &Grid {
        @include m.tablet {
            @include m.grid(3, 2rem)
        }
    }

}

.card {
    max-width: 35rem;
    margin: 0 auto 2rem auto;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include m.tablet {
        max-width: unset;
        margin: 0;
    }

    &Image {
        width: 100%;
        border: .5rem solid v.$white;
        transition-property: rotate scale;
        transition-duration: 300ms;

        &:hover {
            transform: rotate(4deg) scale(1.3);
        }
    }

    &Content {
        max-width: 90%;
        margin: 0 auto;
        background-color: v.$white;
        transform: translateY(-5rem);
    }

    &Heading {
        @include m.headingItalics;
        font-size: 3.4rem;
        padding: 2rem;
    }

    &Link {
        @include m.button(v.$secondary, v.$white);
        display: block;

    }

}